*{
  text-align: center;
  margin-left: 4px;
}

h1{
  font-size: 700%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px,10px,10px,10px;
}

  #header{
    padding-bottom: 200px;
    background-image: url(./download.jpeg);
    text-align: center;
    font-size: 200%;
    
  }
  
  li{
    list-style: none;
  }
  
